- if result.result?
  %h2
    #{result.name} - #{result.succeeded? ? 'succeeded' : 'failed'} - in #{result.duration}s

  %ol
    - result.details.each do |detail|
      - if detail.is_a?(String)
        %li
          = status_icon('error')
          &= detail
      - else
        %li
          = status_icon(detail.status)
          = detail.name
          %ul
            - case res = detail.result
              - when Hash
                %pre=ansi_esc res.awesome_inspect
              - when Array
                - res.each do |r|
                  %li
                    - if r.is_a?(Hash)
                      = status_icon(r.status)
                      = r.name
                      - if r.status.to_s[/info/]
                        %pre= ansi_esc r.result.awesome_inspect
                    - else
                      = r.inspect


  %a.toggle-raw(href='#') Raw
  %pre.raw.hidden= find_and_preserve(ansi_esc result.awesome_inspect)
- else
  %pre= find_and_preserve(ansi_esc result.awesome_inspect)
