%header.main
  %h2 
    %a(href="/") repos
    &raquo;
    %a(href="/repos/#{@build.repo._id}") #{@build.repo.path_name}
    &raquo;
    build detail
  .extra-info
    %span.at built at #{@build.created_at}
    |
    %span.ref ref #{@build.ref}
    |
    %span.id id #{@build._id}
    |
    %a(href="/repos/#{@build.repo._id}/force-build/#{@build.ref}") force build


%h3 status
%ul
  %li.status
    %h3 status
    - if result = @build.result
      = @build.succeeded? ? "succeeded" : "failed"
      (#{result.status})
      %pre
        :preserve
          #{html_escape result.message}
      - if result.details
        - result.details.builds.each do |build|
          [env:#{build.env}, success:#{build.success}]
          
    - else
      The build hasn't reported any status yet.

  %li
    %h3 summary
    %pre&= @build.summary.pretty_inspect

  %li.log
    %h3 log
    - if @build.progress && !@build.progress.empty?
      %table
        %thead
          %tr
            %th tag
            %th message
          %tbody
            - @build.progress.each do |line|
              %tr(class="#{line.tag.downcase.gsub(/[^a-z]+/,'-')}")
                %td
                  =line.tag
                  = '/'+line.status if line.status
                %td
                  - if line.msg.is_a?(Hash)
                    = render_result(line.msg)
                  - else
                    %pre= find_and_preserve(ansi_esc line.msg)

              - if line.status == 'finished'
                %tr
                  %td duration
                  %td in #{line.duration}s
    - else
      empty
