%ul
  - @repos.each do |repo|
    %li
      %h4= repo.name
      %ul
        %li seen refs: #{repo.refs*','}
        %li do ci on refs: #{repo.ci.keys*','}
        %li
          %a(href="/repos/#{repo._id}/force-build") force build
        %li 
          builds:
          %ul
            - repo.builds.each do |build|
              %li
                %a(href="/builds/#{build._id}") details

