%header
  %h2 
    %a(href="/") repos
    &rsaquo;
    #{@repo.path_name}
%section#repo

  %h3 Builds
  %table
    %thead
      %tr
        %th(scope="col") Built at
        %th(scope="col") Ref
        %th(scope="col" colspan=2)
    %tbody
      - @builds.each do |build|
        %tr
          %td= build.created_at
          %td= build.ref
          %td
            - if build.result
              = build.succeeded? ? 'succeeded' : 'failed'
            - else
              no result
          %td
            %a(href="/builds/#{build._id}") detail  
