%header
  %h2 
    %a(href="/") repos
    &raquo;
    #{@repo.path_name}
%section#repo
  %ul
    %li.seen-refs
      %h3 all refs
      These are refs seen by cigarillo, as they've been pushed to github.
      %ul
        - @repo.refs.each do |ref|
          %li
            = ref
            %a(href="/repos/#{@repo._id}/ci/#{ref}") add to CI
    %li.ci-refs
      %h3 ci refs
      These are refs marked for CI. As they're pushed to github, they'll be built.
      %ul
        - @repo.ci.keys.each do |ref|
          %li
            = ref
            %a(href="/repos/#{@repo._id}/force-build/#{ref}") force build
            %a(href="/repos/#{@repo._id}/no-ci/#{ref}") remove from CI
    %li.builds
      %h3 builds
      %ul
        - @repo.builds.each do |build|
          %li
            = build.created_at
            = build.ref
            %a(href="/builds/#{build._id}") detail


